{% load static %}

<div class="logo">
    <a href="{% url 'home' %}">
        <img src="{% static 'img/icon.png' %}" alt="EcoColeta Logo">
    </a>
</div>

<ul class="nav-links">
    <li><a href="{% url 'home' %}">Início</a></li>
    <li><a href="{% url 'como_funciona' %}">Como Funciona</a></li>
    <li><a href="{% url 'materiais' %}">Materiais</a></li>
    <li><a href="{% url 'mapa' %}" class="btn-nav-mapa">Pontos de Coleta</a></li> 
    <li><a href="{% url 'contato' %}">Contato</a></li>
</ul>
