<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for( 'static', filename= 'css/style.css') }}">
    <title>{% block title %}EcoColeta - Descarte Sustentável{% endblock %}</title> 

    {% block head_extras %}{% endblock %}
</head>
<body>

    {% include 'partials/navbar.html' %} <!-- faz com que navbar.html seja constante na página base-->

    <main id="content">
        {% block content %} <!-- bloco reutilizável. puxa a página index.html e mapa.html-->
            {% endblock %}
    </main>

    {% include 'partials/footer.html' %} <!-- inclui o foote.html de forma constante na página base-->

    {% block scripts %}{% endblock %}

</body>
</html>