
{% extends 'base.html' %}

{% block content %}
    <header class="banner-simplificado">
        <div class="banner-content">
            <h1>{{ secao.get_h1 }}</h1>
            <p>{{ secao.get_descricao }}</p>
        </div>
    </header>

    <section>
        <div class="container-secao">

            <ol class="cards-secao cards-passos">
                {% for card in secao.get_cards %}
                    <li class="card-item">
                        <article class="card card-passo">
                            <i class="fa-solid fa-{{ card.get_icone }}"></i>
                            <h3>{{ card.get_titulo }}</h3>
                            <p>{{ card.get_descricaoCard }}</p>
                        </article>
                    </li>
                {% endfor %}
            </ol>
            
            <div class="call-to-action">
                <a href="{% url 'mapa' %}" class="btn-banner">Ver Mapa Agora</a>
            </div>

        </div>
    </section>
{% endblock content %}