{% extends 'base.html' %}
{% load static %}

{% block title %} 
    EcoColeta - Encontre Pontos de Coleta 
{% endblock %}

{% block extra_head %}
    <!-- 1. CSS do Leaflet.js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
{% endblock %}

{% block content %}
    <section class="mapa-section">
        <div class="mapa-container">
            <header class="mapa-header">
                <h2>Pontos de Coleta</h2>
                <div class="filtro-options">
                    <label for="filtro-material">Selecione um tipo de material para filtrar os locais de descarte:</label>
                    <select class="filtro-material" id="filtro-material" aria-label="Filtros de materiais para descarte">
                        <option value="todos" selected>Todos os materiais</option>
                        <option value="plastico">Plástico</option>
                        <option value="papel">Papel</option>
                        <option value="vidro">Vidro</option>
                        <option value="metal">Metal</option>
                        <option value="eletronico">Eletrônicos</option>
                        <option value="oleo">Óleo de Cozinha</option>
                    </select>
                </div>
            </header>

            <div id="mapa" aria-label="Mapa interativo com pontos de coleta de recicláveis">

            </div>

        </div>
    </section>
{% endblock content %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script src="{% static 'js/mapa.js' %}"></script>
{% endblock %}