
{% extends 'base.html' %}

{% block content %}
    <header class="banner-simplificado">
            <div class="banner-content">
                <h1>{{ secao.get_h1() }}</h1>
                <p>{{ secao.get_descricao() }}</p>
            </div>
        </header>

        <div class="container-secao">
            <div class="cards-secao">
                {% for card in secao.get_cards() %}
                    <div class="card card-material">
                        <div class="icon-container">
                            <i class="fa-solid fa-{{ card.get_icone() }}"></i>
                        </div>
                        <h3>{{ card.get_titulo() }}</h3>
                        <p>{{ card.get_descricaoCard() }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock content %}